nav.navbar.navbar-expand-lg.navbar-dark.bg-info.navbar-static-top
  div.container-fluid
    a.navbar-brand(href='#') WikiLatic
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded="false", aria-controls='navbar', aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbar
      ul.navbar-nav.navbar-right.ml-auto
        li.nav-item
          a(href='/login') LOG IN
        li.nav-item
          a(href='/signup') SIGN UP

