nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-static-top
  div.container
    a.navbar-brand(href='#') WikiLatic
    button.navbar-toggler(type='button', data-toggle='collapse' data-target='#navbarNav')
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNav
      ul.navbar-nav.navbar-right
        li.nav-item
          a(href='#') LOG IN
        li.nav-item
          a(href='#') SIGN UP
